
.searchBtn {
    background-color: #3F3F3F; 
    border: none; 
    color: white; 
    padding: 12px 16px; 
    font-size: .6em; 
    cursor: pointer; 
    outline: none;
    width: 110px;
  }
  
  .searchBtn:hover {
    background-color: #1F1F20
  }

  .searchBtn > .lnr {
      margin-right: 10px;
  }

  .search-form {
      margin-top: 15px;
      display: flex;
      justify-content: center;
  }

  .search-form-text-label {
    display: inline-block;
    width: 100px;
    font-size: .75em;
    font-weight: 500;
    text-align: right;
    color: #3F3F3F
  }

  .search-form-text-input {
    margin-top: 10px;
    margin-bottom: 10px;
    display:inline-block;
    vertical-align: middle;
    margin-left:20px;
    width: 200px;
    padding: 6px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: .75em;
  }